@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

html,
body {
  scroll-behavior: smooth;
  padding: 0 !important;
  margin: 0;
  font-family: "Press Start 2P", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  background-color: black;
}

p {
  font-family: "Courier New", Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* adds offset to hashtag links: https://css-tricks.com/hash-tag-links-padding/ */
#about::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

#roadmap::before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}

#team::before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}
