.container {
  padding: 0 2rem;
}

.mainCenter,
.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.mainCenter {
  justify-content: center;
}

.background {
  background-color: black;
  background-image: url("../public/assets/bg-star.png");
  background-size: cover;
}

.title {
  font-family: "Press Start 2P", cursive;
  max-width: 1200px;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  color: white;

  text-align: center;
}
