@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
