.main {
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
  background-image: url('../public/assets/bg-star.png');
  background-size: cover;
}

.title a {
    color: #0070f3;
    text-decoration: none;
  }
  
.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: white;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    min-width: 50vw;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(239, 239, 239);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  .containerRight, 
  .containerLeft {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .containerRight::after, 
  .containerLeft::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #2F9EE4;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

    .containerLeft::after {
        right: -12px;
    }

  /* Place the container to the left */
.containerLeft {
    left: 0;
  }
  
  /* Place the container to the right */
  .containerRight {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
.containerLeft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .containerRight::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .containerRight::after {
    left: -13px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .containerRight,
    .containerLeft {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .containerRight::before,
    .containerLeft::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .containerLeft::after, .containerRight::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .containerRight {
      left: 0%;
    }
  }